#contact-image {
    width: 84px !important;
    margin: -50px auto 50px !important;
    z-index: 10 !important;
}

.navbar.is-planner {
    border-bottom: 1px solid #E6ECF8;
    z-index: auto !important;
}
