body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* SECTION A  */
.btn-outline-purple {
  color: #8C43FF;
  background-color: transparent;
  background-image: none;
  border-color:#8C43FF;
  border-width: 2px;
  border-radius: 290486px;

  font-size: 120%;
  font-family: 'Roboto', sans-serif;
  margin-top: 3%;
}

.sayHi{
  text-align: right;
}

.btn-outline-purple:hover 
{
  background: #8C43FF;
  color: white;
}

.logo-react{
  font-size: 3em;
  color: #8C43FF;
}

.logo-title{
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
}

.header {
  margin-top: 2%;
  margin-bottom: 2%;
}

.intro {
  margin-top: 10%;
  text-align: center;
}
.title {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
}

.img-intro{
  margin-top: 3em;
}

.hero-foot{
  width: 100%;
  height: 100%;
  padding: 5em;
  padding-bottom: 0;
}

/* SECTION B  */
.description{
  background: #8C43FF;
  color: white;
  padding: 12rem;
}


.desc-text{
  justify-content: center;
  text-align: center;
  flex: none;
  width: 60%;
  margin: 0 auto;
}

.sectionB-title{
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.description-p{
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 2;
}

/* SECTION C */

.container.is-narrow {
  max-width: 1200px;
}

.skills .box {
  padding: 0;
}

.box {
  border-radius: 12px;
  background-color: #fff;
    box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
    color: #293347;
    display: block;
    
}

