body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/* SECTION A  */
.btn-outline-purple {
  color: #8C43FF;
  background-color: transparent;
  background-image: none;
  border-color:#8C43FF;
  border-width: 2px;
  border-radius: 290486px;

  font-size: 120%;
  font-family: 'Roboto', sans-serif;
  margin-top: 3%;
}

.sayHi{
  text-align: right;
}

.btn-outline-purple:hover 
{
  background: #8C43FF;
  color: white;
}

.logo-react{
  font-size: 3em;
  color: #8C43FF;
}

.logo-title{
  font-family: 'Indie Flower', cursive;
  font-size: 2em;
}

.header {
  margin-top: 2%;
  margin-bottom: 2%;
}

.intro {
  margin-top: 10%;
  text-align: center;
}
.title {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
}

.img-intro{
  margin-top: 3em;
}

.hero-foot{
  width: 100%;
  height: 100%;
  padding: 5em;
  padding-bottom: 0;
}

/* SECTION B  */
.description{
  background: #8C43FF;
  color: white;
  padding: 12rem;
}


.desc-text{
  justify-content: center;
  text-align: center;
  flex: none;
  width: 70%;
  margin: 0 auto;
}

.sectionB-title{
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.description-p{
  font-family: 'Roboto';
  font-weight: 300;
  line-height: 2;
}

/* ========= SECTION C ====================*/
.skills {
    margin-top: -14rem;
    padding-bottom: 1rem;
}

div .skills {
    padding: 8rem 23rem;
    text-align: center !important;
}

.container.is-narrow {
  max-width: 1200px;
}

div .skills .box {
  padding: 0;
}

div .skills .box .content .columns {
    margin-left: 0;
    margin-right: 0;
}

.box {
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 5px 5px 0 rgba(233,240,243,0.5), 0 0 0 1px #E6ECF8;
  color: #293347;
  display: block;
}



@media screen and (min-width: 769px)
{  
  .skills .box .content .columns .column {
      border-bottom: 0px solid #E6ECF8;
      border-right: 1px solid #E6ECF8;
      padding: 60px 35px;
  }
}

div .skills .box .content .columns .column {
    padding: 50px 30px;
    border-bottom: 1px solid #E6ECF8;
     border-right: 2px solid #E6ECF8; 
}

.skills .box .content .columns .column figure.image {
    margin: 0 auto;
    font-size: 4em;
    color: #8C43FF;
}

.content h1 {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;  

}

.column .title {
  font-size: 1.5rem !important;
  margin-top: 1em;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 769px)
{  
  div .skills .box .content .columns .column p {
      font-size: 18px;
      margin-bottom: 2em;
  }
}

.skills p {
  margin-bottom: 2rem;
}

div .skills .box .content .columns .column p.list-title {
    margin-top: 50px;
    margin-bottom: 8px;
    color: #8C43FF !important;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;      
}

div .skills .box .content .columns .column ul {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    text-align: center !important;
    padding: 0;
    line-height: 2;
    margin: 0;  
    font-family: 'Noto Sans', sans-serif; 
    font-weight: 400; 
}

.fix {
  padding: 0
}

/*========== SECTION D ==========*/

.set-bg {
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}


.portfolio-item {
  display: block;
  width: 100%;
  height: 20rem;
  
  position: relative;
  margin-bottom: 30px;
}

.portfolio-item .pi-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent;
  -webkit-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.portfolio-item .pi-inner h2 {
  opacity: 0;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 50px;
  bottom: 50px;
  color: #fff;
  letter-spacing: 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.portfolio-item:hover .pi-inner {
  background: rgba(0, 20, 24, 0.8);
}

.portfolio-item:hover .pi-inner h2 {
  opacity: 1;
  letter-spacing: 0;
}

.modal-dialog {
  max-width: 1000px;
}

.projects{
  padding: 0 10rem;
}